# bot-channel is for commands. special for s-rank snipe alerts

discord:
  token: XXX
  channels:
    bot: 1
    log: 1
    sonar: 1
    special: 1


# default expansion for commands
def_exp: 7

# sonar urls. You need at least the asset ones. If you don't have websocket and bootstrap urls, set enable to False.

sonar:
  enable:    True
  websocket: 
  bootstrap: 
  asset:
    world:   
    hunt:    
    zone:    
    region:  
    dc:      

# role id 0 - no shout
# role id 1 - no ping

webhooks:
  - name: test
    webhook: https://
    roles:
      7: 123
      6: 123
      5: 123
      4: 123
      3: 123
      2: 123
  - name: test2
    webhook: https://
    roles:
      7: 1
      6: 1
      5: 0
      4: 0
      3: 0
      2: 0

worlds:
  - name: Alpha
    short: alpha
    channels: 
      7: 123
      6: 123
      5: 123
  - name: Lich
    short: lich
    channels:
      7: 123
      6: 123
      5: 123
  - name: Odin
    short: odin
    channels: 
      7: 123
      6: 123
      5: 123
  - name: Phoenix
    short: phoe
    channels:
      7: 123
      6: 123
      5: 123
  - name: Raiden
    short: raiden
    channels:
      7: 123
      6: 123
      5: 123
  - name: Shiva
    short: shiva
    channels:
      7: 123
      6: 123
      5: 123
  - name: Twintania
    short: twin
    channels:
      7: 123
      6: 123
      5: 123
  - name: Zodiark
    short: zodi
    channels:
      7: 123
      6: 123
      5: 123

statuses:
  - name: Up
    short: up
    icon: ✅
  - name: Scouting
    short: scouting
    icon: 📡
  - name: Scouted
    short: scouted
    icon: 🌐
  - name: Running
    short: run
    icon: 🚋
  - name: Dead
    short: dead
    icon: 🔒
  - name: Sniped
    short: sniped
    icon: 🏹
  - name: Unknown
    short: unknown
    icon: ❓
  - name: Rebooted
    short: rebooted
    icon: 🔄